html, body {
  font-family: Hack, monospace;
  background: #222;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.thanks-container {
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
}

.thanks .for{
  font-size: 2em;
  margin: 0px;
}

.thanks .to-whom{
  font-size: 1em;
}

.thanks .to{
  color: #CCC;
}

.thanks .who{
  font-size: 0.8em;
  font-style: italic;
  color: #F4A261;
}

/*2a9d8f-e9c46a-f4a261-e76f51*/
